<div class="block-{{ type }}">
    <label for="parent" class="block-multiSelect--label">Parent Data</label>
    <select id="parent" class="block-multiSelect--select">
        <option disabled>Please select a value</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
    </select>
    <label for="child" class="block-multiSelect--label">Child Data</label>
    <select id="child" class="block-multiSelect--select">
        <option disabled>Please select a value</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
    </select>
</div>