<!-- NOTE: The modal should not be shown explicitly as below. This is for demonstration purposes only -->
<section class="smart-modal" style="display: block">
    <div class="smart-modal--content">
        <header class="smart-modal--head">
            <button class="smart-modal--close" type="button">x</button>
            <h3 class="smart-modal--title">My Modal</h3>
        </header>
        <article class="smart-modal--body">
            <p>Your content goes here!</p>
        </article>
        <footer class="smart-modal--footer">
            <button class="smart-modal--footerItem bit-btn bit-btn-clickable">Submit</button>
            <button class="smart-modal--footerItem smart-modal--close bit-btn bit-btn-clickable" type="button">Close</button>
        </footer>
    </div>
</section>