<section class="smart-accordion">
    <button class="smart-accordion--toggle is-expanded">Click to expand</button>
    <article class="smart-accordion--content" style="height: 58px">
        <h1>Demo!</h1>
    </article>
</section>