<nav class="smart-nav">
    <header class="smart-nav--header">
        <section class="smart-nav--headerMain">
            <a href="#" class="smart-nav--logo"></a>
        </section>
        <aside class="smart-nav--headerAside">
            <span class="smart-nav--userTime">JMST225 - <span class="smart-nav--clock">7/27/2018 01:49:31</span></span>
        </aside>
    </header>
    <section class="smart-nav--list">
        {% include 'block-navList.njk' %}
    </section>
</nav>